body {
  font-family: sans-serif;
  background-image: linear-gradient(
      115deg,
      #F98AAC9f,
      #FFB3C82c
    ), url("https://img.freepik.com/free-vector/waffles-with-strawberry-ice-cream-background_53876-97603.jpg?t=st=1743817063~exp=1743820663~hmac=13d34e32348cd4ae925f1e19e053d8722a083b9b348188bb383989c18b517358&w=740");
  background-size: cover;
  color: #602E28;
  font-size: 1.5rem;
  
}
fieldset {
  background-color: #FFFFD07c;
  border: none;
  margin: 0 auto;
  width: 60vw;
  min-width: 480px;
  max-width: 700px;
}
div {
  font-size: 1rem;
  margin: 0 auto;

}
h1, p {
  text-align: center;
}
.bio {
  text-align: center;
  margin-top: 2rem;
}
.blockinput, label {
  display: block;
}
.stretch {
  width: 100%;
  background-color: #F1E16F;
  color: #602E28;
  height: 3rem;
}
label, p, input {
    font-size: 1.5rem;

}
textarea {
  font-size: 1.5rem;
}
.bio2, #dropdown, #dropdown2, textarea, fieldset {
  border-radius: 6px;
}
.buttonstyle {
  margin: 0 0.5em 0 0;
  vertical-align: 0.10rem;
  
}
.boxlabel {
  display: inline-block;
}
input[type="submit"] {
  width: 100%;
  background-color: #F98AAC;
  border-radius: 6px;
  color: #602E28;
}
select {
  height: 3rem;
  font-size: 1.5rem;
  color: #602E28;
}
h1 {
  margin-bottom: -10px;;
}
#description {
  margin-bottom: 40px;
  margin-top: 0.8rem;
}
.bio2 {
  margin: 10px auto;
  height: 2.5rem;
}
.textboxp {
  margin-bottom: 0;
}
.stretch2 {
  width: 98%;
  background-color: #F1E16F;
  color: #602E28;
  padding-right: 3px;
  padding-left: 3px;
}
p {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
label:first-of-type {
  margin-top: 0;
}
